.todo-item {
  background: #1a1a1a;
  border: 1px solid #8b0000;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  transition: 0.3s;
  color: #e0e0e0;
}

.todo-item:hover {
  background: rgba(139, 0, 0, 0.2);
}

.todo-item .texto {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #e0e0e0; 
}

.todo-item.completada .texto {
  text-decoration: line-through;
  color: #a30000; 
}

.todo-item .fechas {
  font-size: 0.85rem;
  color: #ccc;
  display: flex;
  justify-content: space-between;
}

  